# === Python ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# === Virtual Environments ===
venv/
env/
.venv/

# === Jupyter ===
.ipynb_checkpoints/

# === Data (IMPORTANT) ===
data/
dataset/
datasets/
degradation/
leapGestRecog/
mixed_data/
# === Model files ===
*.h5
*.keras
*.pt
*.pth

# === Results & Outputs ===
results/
outputs/
runs/
logs/

# === OS files ===
.DS_Store
Thumbs.db

# === IDE ===
.vscode/
.idea/

# === Temporary ===
*.tmp
*.cache
